[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.ngc.nvidia.com"
verify_ssl = true
name = "nvidia"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch_cu121"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch_cpu"

[packages]
speechrecognition = "*"
pyaudio = "*"
"pyannote.audio" = "*"
python-dotenv = "*"
numpy = "*"
openai-whisper = "*"
transformers = "*"
torch = {version = "*", index = "pytorch_cu121"}
torchvision = {version = "*", index = "pytorch_cu121"}
torchaudio = {version = "*", index = "pytorch_cu121"}

[dev-packages]
# [requires]
# python_version = "3.10.5"
